<!DOCTYPE html>
<html>
  <head>
    <title>EJS Example</title>
  </head>
  <body>
    <h1 id="data2">first</h1>
    <div id="message">
        <%= msg %>
      </div>
      <div id="message">
        <button id="numbtn"onclick="componentDidMount()">Fetch</button></br></br>
        <button id="myButton">Click Me</button></br></br>
        <label id="lbl">no response</label>
      </div>
      <script>
        function componentDidMount(){
        fetch('http://192.168.1.83:3000/num')
        .then(response => {
            if (!response.ok) {
            throw new Error("Network response was not ok");
            }
            console.log(response)
            return response.json();
            })
            .then(data => {
              but.innerHTML = `${data.msg}`;
              lbl.innerHTML = `${data.msg}`;
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
          }
          let count = 0;
          const button = document.querySelector("#myButton");
          const lbl = document.querySelector("#lbl");
          setInterval(function() {
            count++;
            button.innerHTML = `Clicked ${count} times`;
          }, 1000);

          var but = document.querySelector("#numbtn");
          setInterval(function () {but.click();},1000);
      </script>

  </body>
</html>
