<!DOCTYPE html>
<html>
  <head>
    <title>EJS Example</title>
  </head>
  <body>
    <h1 id="dat"></h1>
    <!-- <script>
      const updateData2 = () => {
        fetch('/num')
          .then(res => res.json())
          .then(res => {
            document.querySelector('#dat').textContent = res.newdata;
          });
      };
      setInterval(updateData2, 1000);
      updateData2();
    </script> -->
  </body>
</html>

